## Function session 1

#### Inbuild functions

In [1]:
print('Hii,Welcome to advance python classes')

Hii,Welcome to advance python classes

In [2]:
#list
a=[1,2,3,4,5,6,7,8,9]

In [3]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
type(a)

list

In [7]:
len(a)

9

In [8]:
a.append(10)

In [9]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
len(a)

10

In [11]:
sum(a)

55

### Custom functions

![Alt text](image.png)

### Function examples

In [12]:
#Write a function in python to add 2 numbers
def add(a,b):
    """
    input : Any two numbers
    output : Addition of two numbers
    """
    c = a + b
    return c

In [13]:
add(10,10)

20

In [14]:
add(5,10)

15

In [18]:
add(12345,6789)

19134

In [19]:
add(1.5,3.5)

5.0

### Multiple inputs
#### use of agrument function

In [35]:
#Write a function in python to calculate sum of all elements inside a list 
def add_multi(*nums):
    """
    This function is use to add multiple numbers
    """
    s = 0
    for i in nums:
        s = s + i
    return s

In [13]:
add_multi(1,2,3,4)

10

In [14]:
1+2+3+4

10

In [15]:
add_multi(1.2+3.4+4.5+6.7+8.9)

24.700000000000003

In [16]:
#Write a program for multiplication of two numbers
def multi(x,y):
    z = x*y
    return z

In [17]:
multi(2,3)

6

In [18]:
multi(55,100)

5500

#### Getting a products for multiple numbers
##### using a argument fuction

In [36]:
#Write a function in python to calculate product of all elements inside a list.
def prod_multi(*nums):
    """
    This function is use for products of multiple numbers
    """
    p = 1
    for i in nums:
        p = p * i
    return p

In [20]:
prod_multi(1,2,3,4)

24

In [21]:
1*2*3*4

24

In [22]:
prod_multi(5*5)

25

### Keywords agruments
#### using **kwarg

In [24]:
info = {101:'yukta',
        102:'mansi',
        103:'snehal'}

In [25]:
info

{101: 'yukta', 102: 'mansi', 103: 'snehal'}

In [27]:
info.keys()

dict_keys([101, 102, 103])

In [29]:
info.values()

dict_values(['yukta', 'mansi', 'snehal'])

In [30]:
info.items()

dict_items([(101, 'yukta'), (102, 'mansi'), (103, 'snehal')])

In [31]:
def key_arg(**kwarg):
    for key , value in kwarg.items():
        print(f'{key}:{value}')

In [33]:
key_arg(name='yukta',sname='zunjarrao',age=23,gender='female',email='zunjarraoyukta@gmail.com')

name:yukta
sname:zunjarrao
age:23
gender:female
email:zunjarraoyukta@gmail.com

In [56]:
#Write a function in python to output cube of a given number
def cube(a):
    """
    This is a cube of given number
    """
    cube = a*a*a
    return cube

In [57]:
cube(3)

27

In [58]:
cube(4)

64

In [59]:
cube(2)

8

In [64]:
#Write a function in python to output cube of given numbers from a list
def cube_list(a):
    """
    Input : Give a list of numbers as input
    Output: Cube of every number in a list
    """
    cube = []
    for i in a:
        cube.append(i**3)
    return cube

In [67]:
list=[1,2,3,4]

In [68]:
cube_list(list)

[1, 8, 27, 64]

#### Square , cubes and squareroots in python

In [1]:
2**2

4

In [2]:
4**2

16

In [3]:
3**3

27

In [4]:
4**3

64

In [5]:
4**(1/2)

2.0

In [6]:
16**(1/2)

4.0

##### formula ---- $ c^2=a^2 + b^2 $

In [13]:
#Write a function in python to calculate hypotenuse of a right angled triangle
def hypotenuse(a ,b):
    c= (a**2 + b**2) ** (1/2)
    return c

In [14]:
hypotenuse(3,4)

5.0

In [15]:
h1=hypotenuse(3,4)

In [16]:
h1

5.0

In [17]:
h2=hypotenuse(5,6)

In [18]:
h2

7.810249675906654

In [20]:
#Write a function in python which takes 3 sides and determines whether 3 sides form triangle or not
#formula ---- sum of two sides > third side
def sides_triangle(x,y,z):
    if (x+y)>z and (y+z)>x and (z+x)>y :
        s = True
    else:
        s = False
    return s

In [21]:
sides_triangle(3,4,5)

True

In [22]:
sides_triangle(1,2,4)

False

In [23]:
sides_triangle(10,11,15)

True

In [24]:
sides_triangle(2,6,15)

False

In [27]:
#Write a function in python that calculates area of triangle when 3 sides are given
# using herons formula s=(a+b+c)/2
# using area of triangle = (s*(s-a)*(s-b)*(s-c))**(1/2)
def aot(a,b,c):
    if sides_triangle(a,b,c) ==True:
        s = (a+b+c)
        area = (s*(s-a)*(s-b)*(s-c))**(1/2)
    else:
        area  =None
        print(f'The given sides {a},{b},{c} DO NOT FORM A TRIANGLE')
    return area

In [29]:
aot(3,4,5)

77.76888838089432

In [30]:
aot(10,20,50)

The given sides 10,20,50 DO NOT FORM A TRIANGLE

In [31]:
aot(1,2,4)

The given sides 1,2,4 DO NOT FORM A TRIANGLE