### Creating class in oop

![Alt text](image.png)

In [1]:
age = 23
print(type(age))

<class 'int'>

##### Creating custom class person

In [2]:
class Person:

    # Constructor function - define attributes of function
    def __init__(self, name, age, gender, occupation):
        self.name = name
        self.age = age
        self.gender = gender
        self.occupation = occupation

    # User Defined function
    def talk(self):
        print(f'Hi There my name is {self.name}')
        print(f'My age is {self.age}')
        print(f'I am {self.gender}')
        print(f'I work as {self.occupation}')

In [3]:
p1 = Person(name='Yukta', age=23, gender='female', occupation='student')

In [4]:
p1.talk()

Hi There my name is Yukta
My age is 23
I am female
I work as student

In [5]:
p2 = Person(name='Aniket', age=23, gender='Male', occupation='student')

In [6]:
p2.talk()

Hi There my name is Aniket
My age is 23
I am Male
I work as student

### Cerate a class for Bank Account

![Alt text](image-1.png)

In [7]:
class bank_ac:
    #Constructor Function
    def __init__(self,ac_no,name,bal=0):
        self.ac_no = ac_no
        self.name = name
        self.bal = bal

    #User defined function for Depositing money
    def deposit(self,amt):
        self.bal = self.bal + amt
        print(f'Balance of {amt} INR Deposited in Your Bank account number : {self.ac_no} ')
        print(f'Current Balance : {self.bal} INR')

    # Function to withdraw money
    def withdraw(self, amt):
        if self.bal >= amt:
            self.bal = self.bal - amt
            print(f'Amount of {amt} INR withdrawn from your bank account number : {self.ac_no}')
            print(f'Current Balance : {self.bal} INR')
        else:
            print(f'Insufficient Balance in account {self.ac_no}. Current Balance in your account is {self.bal} INR')
             
    # Function to transfer money
    def transfer(self, amt, ac2):
        if self.bal >= amt:
            self.bal = self.bal - amt
            ac2.bal = ac2.bal + amt
            print(f'Amount of {amt} INR Transferred to account number : {ac2.ac_no} from your account : {self.ac_no}')
            print(f'Current Balance : {self.bal} INR')
        else:
            print(f'Insufficient balance in account {self.ac_no}. Current balance in your account is {self.bal} INR')

In [9]:
a1=bank_ac(ac_no=123, name='Yukta Zunjarrao', bal=5000)

In [12]:
print(type(a1))

<class '__main__.bank_ac'>

In [13]:
a1.ac_no

123

In [14]:
a1.name

'Yukta Zunjarrao'

In [15]:
a1.bal

5000

In [17]:
a1.deposit(1500)

Balance of 1500 INR Deposited in Your Bank account number : 123
Current Balance : 6500 INR

In [18]:
a1.withdraw(500)

Amount of 500 INR withdrawn from your bank account number : 123
Current Balance : 6000 INR

In [19]:
a1.bal

6000

In [20]:
a2=bank_ac(ac_no=12345,name='Kaplana Zunjarrao',bal=10000)

In [21]:
a2.name

'Kaplana Zunjarrao'

In [22]:
a2.bal

10000

In [23]:
a2.deposit(5000)

Balance of 5000 INR Deposited in Your Bank account number : 12345
Current Balance : 15000 INR

In [24]:
#Transfering money from ac1 to ac2
a2.bal

15000

In [27]:
a1.transfer(amt=500, ac2=a2)

Amount of 500 INR Transferred to account number : 12345 from your account : 123
Current Balance : 5500 INR

In [28]:
a2.bal

15500

In [29]:
a1.bal

5500

In [30]:
a2.transfer(amt=1000, ac2=a1)

Amount of 1000 INR Transferred to account number : 123 from your account : 12345
Current Balance : 14500 INR

In [31]:
a2.bal

14500

In [32]:
a1.bal

6500

In [22]:
# Example create new custom function
class employee:

    #constructor function
    def __init__(self,name,age,gender,department):
        self.name = name
        self.age  = age
        self.gender = gender
        self.department = department
        
    #userdefined function
    def talk(self):
        print(f'Hey There is my name {self.name}')
        print(f'My age is {self.age}')
        print(f'I am  {self.gender}')
        print(f'Im from {self.department} department')

In [23]:
e1 = employee(name='Yukta anil zunjarrao',age='24',gender='female',department='Computer applications')

In [24]:
print(type(e1))

<class '__main__.employee'>

In [25]:
e1.name

'Yukta anil zunjarrao'

In [26]:
e1.talk()

Hey There is my name Yukta anil zunjarrao
My age is 24
I am  female
Im from Computer applications department

![Alt text](image-2.png)

In [29]:
class triangle:
    #Constructor function
    def __init__(self,a,b,c):
        self.a = a
        self.b = b
        self.c = c
    
    #Function for does sides froms a triangle or not
    def isTriangle(self):
        s1 = self.a
        s2 = self.b
        s3 = self.c
        if s1+s2>s3 and s2+s3>s1 and s3+s1>s2:
            tr = True
        else:
            tr = False
            print(f'Given sides {self.a}, {self.b}, {self.c} do not form a triangle')
        return tr

   
    # Calculating perimeter of triangle
    def perimeter(self):
        if self.isTriangle()==True:
            p = self.a + self.b + self.c
        else:
            p = None            
        return p
    
    # Calculate Area of triangle with herons formula
    def area(self):
        if self.isTriangle()==True:
            s = (self.a + self.b + self.c)/2
            ar = (s*(s-self.a)*(s-self.b)*(s-self.c))**(1/2)
        else:
            ar = None
        return ar

In [30]:
t1 = triangle(3, 4, 5)

In [31]:
t1.a

3

In [32]:
t1.b

4

In [33]:
t1.isTriangle()

True

In [36]:
p1 = t1.perimeter()

In [37]:
p1

12

In [35]:
a1 = t1.area()

In [39]:
a1

6.0

In [41]:
t2 = triangle(1, 2, 4)

In [43]:
t2.a

1

In [44]:
t2.isTriangle()

Given sides 1, 2, 4 do not form a triangle

False

In [45]:
p2 = t2.perimeter()

Given sides 1, 2, 4 do not form a triangle

In [46]:
a2 = t2.area()

Given sides 1, 2, 4 do not form a triangle